body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  overflow-y: auto; 
  color: white;
  height: 100%; 
}

canvas {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  z-index: -2;
}

@keyframes ufo-fly {
  0% {
    transform: translateX(-150px) translateY(0); 
  }
  25% {
    transform: translateX(25vw) translateY(-50px);
  }
  50% {
    transform: translateX(50vw) translateY(50px);
  }
  75% {
    transform: translateX(75vw) translateY(-50px);
  }
  100% {
    transform: translateX(110vw) translateY(0); 
  }
}

.ufo {
  position: fixed;
  width: 128px; 
  height: 128px; 
  background: url('/static/ufo.png') no-repeat;
  background-size: contain;
  top: 50%;
  left: -150px; 
  animation: ufo-fly 5s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: -1; 
}
