body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Allow scrolling if content overflows */
  color: white;
  height: 100%; /* Ensure the body and html take up the full height */
}

canvas {
  position: fixed; /* Change to fixed position */
  top: 0;
  left: 0;
  width: 100vw; /* Ensure the canvas covers the full viewport width */
  height: 100vh; /* Ensure the canvas covers the full viewport height */
  z-index: -1;
}
