{% extends "header.html" %}

{% block content %}
{% load static %}
<main class="w-screen flex flex-col items-center pt-10">
    <h1 class="text-9xl text-emerald-700">Games</h1>
    <a class="bg-emerald-700 text-gray-100 rounded px-2 py-3 w-1/2 hover:cursor-pointer hover:bg-emerald-800 transition-colors text-center mt-10 text-2xl"
        href="{% url 'create' %}">Create a game</a>
    <table class="mt-10 w-1/2 text-center">
        <thead>
            <tr class="bg-gray-800 text-white">
                <th class="px-4 py-2">Game ID</th>
                <th class="px-4 py-2">Number of Players</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr class="{% cycle 'bg-gray-600' 'bg-gray-500' %}">
                <td class="px-4 py-2">
                    <a class="underline text-white hover:text-emerald-700" href="{% url 'detail' game.pk %}">Game #{{ game.pk }}</a>
                </td>
                <td class="px-4 py-2">placeholder #</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2" class="px-4 py-2">No Games Available</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
