{% extends "base.html" %}


{% block content %}
{% load static %}
<main class="h-screen w-screen grid place-content-center">
    <img class="mx-auto animate-bounce m-5 w-52" src="{% static 'corn-kernel.jpg' %}" alt="">
    <h1 class="text-9xl text-red-700">Don't burn the popcorn!</h1>
    <form class="flex flex-col mt-10" method="post">
    <div class="flex mb-5 gap-x-3">
        {% csrf_token %}
        {{form.email}}
        {{form.display_name}}
    </div>
    <button class="bg-red-700 text-gray-100 rounded px-2 py-3 w-full hover:cursor-pointer hover:bg-red-800 transition-colors" type="submit">Login/Create Account</button>
    </form>
</main>
{% endblock content %}
